body, html {
    height: 100%;
}

.bg {
    background-image : url("https://images.wallpaperscraft.com/image/cockpit_panel_display_169481_3176x4800.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}


/* Side Bar*/



#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: #7386D5;
	color: #fff;
	transition: all 0.3s;
}


#sidebar .sidebar-header{
	padding-top: 10%;
    padding-right: 10%;
	background: #6d7fcc;
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover{
	color: #7386D5;
	background: #fff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

.jumbotron{
    width: 1000px;

    background-image : url("https://images.wallpaperscraft.com/image/cockpit_panel_display_169481_3176x4800.jpg");
    background-size: cover;
    color: #fff;
}

.container{
    padding: 50px;
    font-size: 25px;
}

textarea{
    width: 70%;
    color: #fff;
}

#sim-info{
    padding: 15px;
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#HDlist{
	text-align: center;
	color: #fff;
}
.haha{
	text-align: center;
	color: #fff;
}

#boo{
	background-image: url("https://images.wallpaperscraft.com/image/cockpit_panel_display_169481_3176x4800.jpg");
	background-size: cover;
}

.bbq{
	color: #fff;
}